torch
torchmetrics
numpy<2
scipy
opencv-python<5
opencv-python-headless<5
Pillow
albumentations==2.0.8
pyyaml
easydict
six
tqdm
scikit-learn
matplotlib
pandas
psutil
wandb
cleanlab
cleanvision
transformers
